{% extends "base.html.twig" %}



{% block body %}

    {{ form_start(form) }}
    <div bor>
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-row'}}) }}
    </div>
    <div>
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-row'}}) }}
    </div>
    <div>
        {{ form_label(form.phoneNumber) }}
        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-row'}}) }}
    </div>
    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-row'}}) }}
    </div>
    <div>
        {{ form_label(form.kmLimit) }}
        {{ form_widget(form.kmLimit, {'attr': {'class': 'form-row'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
